<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.lge.theme.lgthemetemplate.calendar" platformBuildVersionCode="24" platformBuildVersionName="7.0">
    <overlay android:priority="11" android:targetPackage="com.android.calendar"/>
    <meta-data android:name="com.lge.theme.parent_name" android:value="com.lge.theme.lgthemetemplate"/>
    <application android:allowBackup="false" android:hasCode="false"/>
</manifest>